---
layout: default
title: tags
---
{% assign tags = "" | split: "" %}
{% for t in site.tags %}
  {% assign tags = tags | push: t[0] %}
{% endfor %}

{% assign sorted_tags = tags | sort_natural %}
<div class="post-list">
  {% for t in sorted_tags %}
  <article class="post card container">
    <header class="post-header">
      <h1>{{ t }}</h1>
    </header>
    <div class="post-content">
      <ul>
        {% for p in site.tags.[t] %}
        <li><a href="{{ p.url }}">{{ p.title }}</a></li> 
        {% endfor %}
      </ul>
    </div>
  </article>
  {% endfor %}
</div>
