<header class="header">

  <div class="overlay">

    <div class="container">

      <h1 class="title">
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
      </h1>

      <nav class="navbar">
        <a href="#" class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </a>

        <ul class="nav">
          <li><a href="/tags.html">tags</a></li>
          <li><a href="{{ site.github }}" target="_blank">Github</a></li>
        </ul>
      </nav>
    </div>

    {% if page.slug == 'home' %}
      <h2 class="txt-center">
        Java, Spring 등 개발 학습 블로그
      </h2>
    {% endif %}

  </div>

</header>
